* {
  box-sizing: border-box
}

/*border-box говорит браузеру учитывать границы и
внутренние отступы в значениях, которые указываете в ширине и высоте элемента*/
img {
  vertical-align: middle;
  height: 450px;
}

/*отцентровка изображений по вертикали
относительно своего родителя-*/
h1 {
  color: #000000;
  text-align: center;
  font-size: 40px;
}

/*заголовок первого уровня:
черный цвет, по центру, размер 40px*/
h2 {
  color: #000000;
  text-align: center;
  font-size: 30px;
}

/*заголовок второго уровня:
черный цвет, по центру, размер 40px*/
h3 {
  color: #000000;
  text-align: justify;
  text-indent: 50px;
  font-size: 25px;
  line-height: 1.5;
  margin: 15px;
}

/*заголовок: черный цвет, по ширине, c
отступом, размер 25px, полуторный меж.стр.инт, отступ от краев 15px*/
h4 {
  color: #000000;
  text-align: justify;
  text-indent: 50px;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.5;
  margin: 15px;
}

/*заголовок: черный цвет, по
ширине, c отступом, размер 25px, нежирный, полуторный меж.стр.инт, отступ от краев
15px*/
h5 {
  color: #000000;
  text-align: justify;
  text-indent: 50px;
  font-size: 23px;
  font-weight: normal;
  line-height: 1.5;
  margin: 15px;
}

/*заголовок: черный цвет, по
ширине, c отступом, размер 23px, нежирный, полуторный меж.стр.инт, отступ от краев
15px*/
body {
  background-color: MediumTurquoise; /*цвет фона*/
  font-family: "Times New Roman"; /*шрифт текста Times New Roman*/
  margin: 0 /*внешний отступ равен нулю*/

}

#container { /*контейнер для блочной верстки страницы*/
  margin: 0; /*внешний отступ равен нулю*/
  width: 100%; /*ширина*/

}

#header { /*шапка*/
  height: 430px; /*высота*/
  width: 100%; /*ширина*/
}

#navigation { /*навигация*/

  width: 100%; /*ширина*/
  height: 60px; /*высота*/
}

ul {

  list-style-type: none; /*отключается нумерация в упорядоченном списке*/
  margin: 0; /*внешний отступ равен нулю*/
  padding: 0; /*внутренний отступ объекта*/
  overflow: hidden;
  /*содержимое, выходящее за пределы блока элемента, будет
 скрыто*/
  background-color: SteelBlue; /*цвет фона ячейки*/
  position: relative;
  /*относительное позиционирование - положение
  устанавливается относительно исходного места*/
  top: 0;
  /*смещение или отступ от верхнего края элемента, относительно которого он
 позиционируется.*/
  width: 100%; /*ширина*/
}

li { /*Навигационные ячейки*/
  float: left; /*расположение слева направо в одну строку*/
  color: Black; /*цвет текста*/
  font-weight: normal; /*нежирное начертание текста*/
  font-size: 23px; /*размер текста*/
}

li a { /*Навигационные ячейки*/
  display: block; /*блочный дисплей*/
  color: Black; /*цвет текста*/
  font-weight: bold; /*полужирное начертание текста*/
  font-size: 20px; /*размер текста*/
  padding: 8px 120px; /*отступы ячеек*/
  text-decoration: none; /* убирает подчеркивание текста при ссылке*/
  text-align: center; /*расположение текста по центру внутри ячейки*/
}

.active { /*активная ячейка*/
  background-color: DarkSlateBlue; /*цвет ячейки*/
  color: white; /*цвет текста*/
}

li a:hover { /*ячейка, на которую наведен курсор*/
  background-color: DarkSlateBlue; /*цвет ячейки*/
  color: white; /*цвет текста*/
}

li:last-child {
  border-bottom: none; /*рамка отсутствует*/
}

#content { /*основное содержание страницы */
  background-color: #ffffff; /*цвет фона*/
  text-align: justify; /*выравнивание по ширине*/
  width: 100%; /*ширина*/
  height: 900px; /*высота*/
}

#clear {
  clear: both;
  /*в рамках одного блочного отформатированного контекста левая,
 или правая, или обе стороны элемента не могут примыкать к элементам, к которым
 ранее применено float.*/
}

#footer { /*подвал страницы*/
  background: SteelBlue; /*цвет фона*/
  height: 100px; /*высота*/
  width: 100%;}

/*ширина*/
