h1 {color:#000000;text-align:center;font-size: 40px;} /*заголовок первого уровня: черный
цвет, по центру, размер 40px*/
h2 {color:#000000; text-align:center;font-size: 27px;} /*заголовок второго уровня: черный
цвет, по центру, размер 40px*/
h3 {color:#000000; text-align:justify; text-indent: 50px; font-size: 25px;
  line-height: 1.5; margin: 15px;} /*заголовок: черный цвет, по ширине, c
отступом, размер 25px, полуторный меж.стр.инт, отступ от краев 15px*/
h4 {color:#000000; text-align:justify; text-indent: 50px; font-size: 25px;
  font-weight: normal; line-height: 1.5; margin: 15px;} /*заголовок: черный цвет, по
ширине, c отступом, размер 25px, нежирный, полуторный меж.стр.инт, отступ от краев
15px*/
h5 {color:#000000; text-align:justify; text-indent: 50px; font-size: 23px;
  font-weight: normal; line-height: 1.5; margin: 15px;} /*заголовок: черный цвет, по
ширине, c отступом, размер 23px, нежирный, полуторный меж.стр.инт, отступ от краев
15px*/
h6 {color:Black; text-align:justify; text-indent: 50px; font-size: 20px;
  font-weight: normal; line-height: 1; margin: 15px;} /*заголовок: черный цвет, по
ширине, c отступом, размер 20px, нежирный, одинарный меж.стр.инт, отступ от краев
15px*/
body {
  background-color:MediumTurquoise;/*цвет фона*/
  font-family: Times New Roman; /*шрифт текста Times New Roman*/
  margin:0 /*внешний отступ равен нулю*/

}
#container { /*контейнер для блочной верстки страницы*/
  margin: 0;/*внешний отступ равен нулю*/
  width: 100%; /*ширина*/

}
li { /*Списки*/

  color: #000000; /*цвет текста*/
  font-weight: normal; /*нежирное начертание текста*/
  font-size: 23px; /*размер текста*/
  line-height: 1.5; /*полуторный интервал*/
}

#content { /*основное содержание страницы */
  background-color:MediumTurquoise; /*цвет фона*/
  float: inherit;/*выравнивание по ширине*/
  width: 100%;/*ширина*/
  height: 6600px;/*высота*/
}
#clear {
  clear:both; /*в рамках одного блочного отформатированного контекста левая,
или правая, или обе стороны элемента не могут примыкать к элементам, к которым
ранее применено float.*/
}
#footer { /*подвал страницы*/
  background: SteelBlue; /*цвет фона*/
  height: 100px; /*высота*/
  width: 100%; /*ширина*/
}
